.drop-area {
    width: 50%;
    height: 200px;
    float: left;
    border: 2px dashed #ccc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#draggable-image {
    max-width: 100%;
    max-height: 100%;
}
